<!DOCTYPE html>
<html>
<head>

	<%- include('./partials/css/bootstrap.ejs')%>
	<%- include('./partials/css/skeleton.ejs')%>

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>Change Receipt</title>
</head>
<body>
	<div class='bg-image4'>
	<h1>Edit <%=receipt.storeName%> Receipt</h1>

	<form method='POST' action='/receipts/<%=receipt.id%>?_method=PUT' enctype='multipart/form-data'>
		<input class='shadow p-3 mb-5 bg-body rounded' type="storeName" name="storeName" value="<%=receipt.storeName%>"><br>
		<select class='shadow p-3 mb-5 bg-body rounded' id='month' name='month' placeholder='month'>
				<option value='' disabled selected>January</option>
				<option value='January'>January</option>
				<option value='February'>February</option>
				<option value='March'>March</option>
				<option value='April'>April</option>
				<option value='May'>May</option>
				<option value='June'>June</option>
				<option value='July'>July</option>
				<option value='August'>August</option>
				<option value='September'>September</option>
				<option value='October'>October</option>
				<option value='November'>November</option>
				<option value='December'>December</option>
		<input class='shadow p-3 mb-5 bg-body rounded' type= "number" placeholder="Year" min="2021"></br>
		<select class='shadow p-3 mb-5 bg-body rounded' id='type' name='type' value='type'>
			<option value='personal'>Personal</option>
			<option value='business'>Business</option>
		</select></br>
		<input class='shadow p-3 mb-5 bg-body rounded' type="amount" name="amount" value="<%=receipt.amount%>"><br>
		<textarea name="description" rows="2" cols="33" value="description"><%=receipt.description%></textarea><br>
		<input type="file" name="image">
		<input type="submit" value="Change">

	</form>
	<!-- <a href="/receipts/<%=receipt.id%>">Cancel</a> -->
	<button onclick='goBack()'>Cancel</button>
	</div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>