<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	

	<%const fullTotal= [0]%>
			<%allReceipts.forEach(receipt => {%>
				<%fullTotal.push(receipt.amount)%>
			<% }) %>

		<%const addTotal = fullTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
			// addTotal()
		})%>

	<title>All Expenses</title>
</head>
<body>

	<a href="/receipts/main">back</a>
	<h1>All Expenses</h1>
	<h2>TOTAL: $<%=addTotal%> </h2>
	<div class="flexContainer" >
		<table class="table">
			<%allReceipts.forEach(receipt => {%>
				<tr>
					<div class="receipt">
			
						<td><a href="/receipts/<%=receipt.id%>"><img class="thumbnail" src="<%=receipt.image%>"></a></td>
						<td>
							<p>$<%=receipt.amount%></p>
						</td>
						<td> 
							<%if (receipt.month < 10) {%>
							<p>0<%=receipt.month%> <%=receipt.year%></p>
						<%} else {%>
							<p><%=receipt.month%> <%=receipt.year%>
						<% } %>
						</td>
					</div>
				</tr>
			<% }) %>
		</table>

	</div>
	
<%console.log(addTotal)%>
</body>
</html>

