<!DOCTYPE html>
<html>
<head>

	<%- include('./partials/css/bootstrap.ejs')%>
	<%- include('./partials/navbar.ejs')%>

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<%const fullTotal= [0]%>
			<%allReceipts.forEach(receipt => {%>
				<%fullTotal.push(receipt.amount)%>
			<% }) %>

		<%const addTotal = fullTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
		})%>

	<title>All Expenses</title>
</head>
<body>
<div class='bg-image1'>
	<a href="/receipts/main">Home</a>
	<h1>All Expenses</h1>
	<h2>TOTAL: $<%=addTotal%> </h2>
	<div class="flexContainer" >
		<table class="table">
			
			
			<%allReceipts.forEach(receipt => {%>
				<tr>
					<div class="receipt">
			
						<td class='shadow-sm p-3 mb-5 bg-body rounded'><a href="/receipts/<%=receipt.id%>"><img class="thumbnail" src="<%=receipt.image%>"></a></td>
						<td class='shadow-sm p-3 mb-5 bg-body rounded'>
							<p><%=receipt.storeName%></p>
						</td>
						<td class='shadow-sm p-3 mb-5 bg-body rounded'>
							<p>$<%=receipt.amount%></p>
						</td>
						<td class='shadow-sm p-3 mb-5 bg-body rounded'> 
							<%if (receipt.month < 10) {%>
							<p>0<%=receipt.month%> <%=receipt.year%></p>
						<%} else {%>
							<p><%=receipt.month%> <%=receipt.year%></p>
						<% } %>
						</td>
					</div>
				</tr>
			<% }) %>
		</table>

	</div>
</div>
<%console.log(addTotal)%>
</body>
</html>

