<!DOCTYPE html>

<html>

<head>
	<title>Main</title>
	
		<%- include('./partials/css/bootstrap.ejs')%>
		<%- include('./partials/css/skeleton.ejs')%>
		<%- include('./partials/navbar.ejs')%>	
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>

	<%const fullTotal = [0]%>
	<%const businessTotal= [0]%>
	<%const personalTotal= [0]%>
			<%allReceipts.forEach(receipt => {%>
				<%fullTotal.push(receipt.amount)%>
				<%if (receipt.type === "personal") {%>
					<%personalTotal.push(receipt.amount)%>
				<%} else {%>
					<%businessTotal.push(receipt.amount)%>
					<%}%>
			<% }) %>

			
		<%const addtotalExpense = fullTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
		})%>

		<%const addpersonalExpense = personalTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum	
		})%>

		<%const addbusinessExpense = businessTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
		})%>
	<div class='bg-image'>
		<div class='u-pull-left'>
			<h1 class='shadow-lg p-3 mb-5 bg-body rounded'>Personal Expenses</h1>
			<h2 >$<%=addpersonalExpense%></h2>
		</div>
	<div class='u-pull-right'>
		<h1 class='shadow-lg p-3 mb-5 bg-body rounded'>Business Expenses</h1>
		<h2>$<%=addbusinessExpense%></h2>
	</div>
	<div class="u-cf"></div>
		<div class='ten columns'>
			<div class="four columns offset-by-five">
				<form id=filter method="GET" action="/receipts">
					<label for="type">Expense Type</label><br>
					<select class="shadow-lg p-3 mb-5 bg-body rounded" id='type' name='type' placeholder='type'>
						<option value='' disabled selected>type</option>
						<option value='business'>business</option>
						<option value='personal'>personal</option>	
					</select></br>

					<label for="month">Month</label><br>
					<select class="shadow-lg p-3 mb-5 bg-body rounded" id='month' name='month' placeholder='month'>
						<option value='' disabled selected>Month</option>
						<option value='January'>January</option>
						<option value='February'>February</option>
						<option value='March'>March</option>
						<option value='April'>April</option>
						<option value='May'>May</option>
						<option value='June'>June</option>
						<option value='July'>July</option>
						<option value='August'>August</option>
						<option value='September'>September</option>
						<option value='October'>October</option>
						<option value='November'>November</option>
						<option value='December'>December</option>
					</select></br>

					<label for="year">Year</label><br>
					<input class="shadow-lg p-3 mb-5 bg-body rounded" type='number' min='2021' name='year' value='2021'></br>
					<label for="storeName">Store Name</label><br>
					<input class="shadow-lg p-3 mb-5 bg-body rounded" type="text" placeholder='store Name' name='storeName'><br>
					<input class ="button-primary" type="submit" value="View">

				</form>
		
			</div>
		</div>
	
		<button class="u-full-width button-primary" onclick=window.location.href="/receipts/new">Add a new receipt</button>
	


		<div class='ten columns'>
			<div class="four columns offset-by-five">
			<h1 class='shadow-lg p-3 mb-5 bg-body rounded'>Total Expenses</h1>
			<h2>$<%=addtotalExpense%></h2>
		</div>

		</div>
	
	</div>
</body>
</html>
</div>