<!DOCTYPE html>
<html>
<head>
	
	<%- include('./partials/css/bootstrap.ejs')%>
	<%- include('./partials/navbar.ejs')%>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Details</title>
</head>
<body>
	<div class='bg-image2'>
	
		<button onclick='goBack()'>Go Back</button>
		<h1><%=receipt.storeName%></h1>
		<h3><%=receipt.month%> <%=receipt.year%></h3>

		<p>Type:<br> <%=receipt.type%></p>
		<p>Amount:<br> $<%=receipt.amount%></p>
		<p>Description:<br> <%=receipt.description%></p>
		<img class='showThumbnail' src=<%=receipt.image%>><br>
		<form method="POST" action="/receipts/<%=receipt.id%>?_method=DELETE">
		<button>Delete</button>
		</form>
		<button onclick=window.location.href="/receipts/<%=receipt.id%>/edit">Edit</button>
	</div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>