<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>
	<a href="/receipts">back</a>
	<h1><%=receipt.storeName%></h1>
	<h3><%=receipt.month%> <%=receipt.year%></h3>

	<p>Type:<br> <%=receipt.type%></p>
	<p>Amount:<br> $<%=receipt.amount%></p>
	<p>Description:<br> <%=receipt.description%></p>
	<img src=<%=receipt.image%>><br>
	<form method="POST" action="/receipts/<%=receipt.id%>?_method=DELETE">
		<button>Delete</button>
	</form>
<button onclick=window.location.href="/receipts/<%=receipt.id%>/edit">Edit</button>

</body>
</html>